.navbar{
  
    width: 100%;
    margin: 1.3rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5rem;
    
}
.button{
    width: 40%;
    background-color: orangered;
    height: 5rem;
    border: none;

}  
.bttn{
    width: 55%;
    background-color: turquoise;
    height: 5rem;
    border: none;
}
.container{
      
        width: 97.5%;
        height:600px;
        margin-top: 3rem;
        margin: 1.3rem auto;
    }
.BOX1,.BOX2,.BOX3,.BOX4,.BOX5{

    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: 20rem;
    margin-top: 1rem;
   
}
.BOX2{ height: 4rem;}

.BOX3{ height: 2rem;
   }
.BOX4{ height: 2rem;
   }

.BOX5{ height: 4rem;
   
   }



.box1, .box2, .box3{

    height: 20rem;
    background-color: lightgrey;
    width: 20%;
    justify-content: space-between;
   
}
.box4, .box5, .box6{
    display: inline-flex;
    background-color: yellow;
    height: 4rem;
    width: 20%;

}

.box7, .box8, .box9{
    display: inline-flex;
    width: 20%;
    background-color: lightgrey;
    height: 2rem;

}
.box10, .box11, .box12{
    display: inline-flex;
    width: 20%;
    background-color: lightgrey;
    height: 2rem;

}
.box13, .box14, .box15{
    display: inline-flex;
    width: 20%;
    background-color: lightgrey;
    height: 2rem;
    

}


@media  (max-width: 967px){

    .navbar{
  
        width: 100%;
        margin: 1.3rem auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        
    }


    .button{
        width: 45%;
        background-color: orangered;
        height: 5rem;
        border: none;
    
    }  
    .bttn{
        width: 50%;
        background-color: turquoise;
        height: 5rem;
        border: none;
    }
    .box1{display: none;}

    .box4{display: none;}
    
    .box7{display: none;}
    
    .box10{display: none;}
    
    .box13{display: none;}
    }

@media(min-width: 100px) and (max-width: 966px) {

    
    .button{
        width: 20%;
        background-color: orangered;
        height: 5rem;
        border: none;
    
    }  
    .bttn{
        width: 70%;
        background-color: turquoise;
        height: 5rem;
        border: none;
    }


.box1{display: none;}

.box4{display: none;}

.box7{display: none;}

.box10{display: none;}

.box13{display: none;}


.box2, .box3{

    
    background-color: lightgrey;
    width: 40%;
    margin: 15px;
}
.box5, .box6{
    display: inline-flex;
    background-color: yellow;
    height: 2rem;
    width: 40%;
    margin: 15px;
}
.box8, .box9{
    display: inline-flex;
    width: 29.9999%;
    background-color: lightgrey;
    height: 2rem;
    width: 40%;
    margin: 15px;
}

.box11, .box12{
    display: inline-flex;
    width: 29.9999%;
    background-color: lightgrey;
    height: 2rem;
    width: 40%;
    margin: 15px;
}

.box14, .box15{
    display: inline-flex;
    width: 29.9999%;
    background-color: lightgrey;
    height: 2rem;
    width: 40%;
    margin: 15px;

}

}

@media (max-width: 576px) {

    .button{display: none;}

.bttn{
        width: 90%;
        background-color: turquoise;
        height: 5rem;
        border: none;
    }

    .navbar{
  
        width: 100%;
        margin: 1.3rem auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 5rem;
        
    }
    .container{
      
        width: 97.5%;
        height:600px;
        margin-top: 3rem;
        margin: 1.3rem auto;
    }

    .box2{

    
        background-color: lightgrey;
        width: 95%;
        margin: 15px;
    }
    .box3,.box6,.box9,.box12,.box15,.box14{
        display: none;
    }

    .box5{
        display: inline-flex;
        background-color: yellow;
        width: 95%;
        margin: 5px;
    }

    .box8{
        display: inline-flex;
        width: 29.9999%;
        background-color: lightgrey;
        width: 95%;
        margin: 5px;
    }
    
    .box11{
        display: inline-flex;
        width: 29.9999%;
        background-color: lightgrey;
        width: 95%;
        margin: 5px;
    }
    

}